:root{
	--brown: skyblue;
}
*{
	margin: 0;
	padding: 0;
}

.parent{
	display: flex;
	margin-right: 50px;
	margin-left: 50px;
	
	/*flex-direction: column;*/
}

.child_2{
	padding: 10px;
	flex: 5;
	
}
.child_1{
	flex: 2;
}
.child_3{
	flex: 2;
}